.container{
    display: flex;
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1dvh;
}

.button , .small-button , .delete-button , .update-button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(175, 174, 174);
    cursor: pointer;
}

.delete-button{
    color: white;
    background-color: red;
}

.update-button{
    color: white;
    background-color: rgb(30, 255, 0);
}

.small-button{
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 6px;
}

.buttons-container{
    display: flex;
    gap: 1dvh;
}