.container{
    display: flex;
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1dvh;
}

.button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: rgb(175, 174, 174);
}